.buttonsContainer {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.responseContainer {
    display: flex;
    align-items: center;
    column-gap: 5.875rem;
}

.imageContainer {
}

.image {

}

.textContainer {
}

.code {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 0.4em;
}

.text {
}

.info {
}