.radio {
    appearance: none;
    position: relative;
}

.radio::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: 2px solid #000;
    border: 4px solid #fff;
    -webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    -ms-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}


.radio:checked::before {
    background-color: #000;
}

.label {
    display: flex;
    gap: 0.75em;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}
