.App {
    --header_height: 60px;
    min-height: 100vh;
}

.hw {
    position: relative;
    margin-bottom: 2.3125rem;
}

.hw_1 {
    padding: 1.5rem 4.375rem;
}

.hw_2 {
    padding: 2rem 4.375rem 4.5625rem 4.3754rem;
}

.hw_3 {
    padding: 1.875rem 4.375rem 13.6875rem 4.375rem;
}

.hw_4 {
    padding: 5.625rem 4.375rem 3.4375rem 4.375rem;
}

.hw_6 {
    padding: 2rem 4.375rem 14.375rem 4.375rem;
}

.hw_7 {
    padding: 2rem 4.375rem 12.1875rem 4.375rem;
}

.hw_8 {
    padding: 2rem 4.375rem 2.75rem 4.375rem;
}

.hw_9 {
    padding: 1.625rem 4.375rem 12.5rem 4.375rem;
}

.hw_10 {
    padding: 2rem 4.375rem 12.75rem 4.375rem;
}

.hw_11 {
    padding: 4.75rem 4.375rem 12.25rem 4.375rem;
}

.hw_12 {
    padding: 2rem 4.375rem 15.25rem 4.375rem;
}

.hw_13 {
    padding: 2rem 4.375rem 1.75rem 4.375rem;
    min-height: 29.25rem;
}

.hw::before,
.hw::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    left: 0;
}

.hw::before {
    top: 0;
}

.hw::after {
    bottom: 0;
}

.hwTitle {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.227272727272727;
    padding-bottom: 0.4545454545454545em;
}

@media (max-width: 47.99875em) {
    .hw {
        padding: 1.5rem 0;
    }
}