.friendMessage {
    margin-bottom: 1.5rem;
}

.friendImageAndText {
    display: flex;
    gap: 0.75rem;
    align-items: flex-end;
    margin-bottom: 0.3125rem;
}

.friendImageAndText img {
    width: 3rem;
}

.friendText {
    position: relative;
    background-color: #F5F7FB;
    padding: 0.5rem 0.8125rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    max-width: 50%;
    color: #000;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.75rem;
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-bottom: 0.75rem solid #F5F7FB;
}

.friendText:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.65rem;
    width: 0.75rem;
    background-color: transparent;
    height: 2px;
    box-shadow: -1.5px 1px 2px rgba(29, 33, 38, 0.1);
    z-index: -1;
}

.friendName {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.3125em;
}

.friendMessageText {
    font-family: Montserrat, sans-serif;
    line-height: 1.25;
    white-space: pre-wrap;
}

.friendTime {
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 1.2;
    padding: 0 0.625rem;
}

@media (max-width: 47.99875em) {
    .friendText {
        max-width: 100%;
    }

    .friendName {
        font-size: 0.875rem;
    }

    .friendMessageText {
        font-size: 0.75rem;
    }
}