.affair {
    display: flex;
    align-items: center;
    min-width: 185px;

    border: 1.5px solid var(--color);
    border-radius: 5px;
}

.name {
    flex: 1 1 100%;
    padding: 0 0.875em;
}

.closeButton {
    flex: 0;
    background-color: transparent;
    border: none;
    border-left: 1.5px solid var(--color);

    font-weight: 900;
    cursor: pointer;

    padding: 0.875em;
    min-height: 100%;
}

@media (max-width: 29.99875em) {
    .affair {
        min-width: 100%;
    }
}