.burgerMenuIcon {
    cursor: pointer;
    padding: 0.3rem;
}

.header {
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    padding: 0.875rem 4.375rem;
    min-width: 100%;
    background-color: #fff;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.header h1 {
    color: #000;
}

@media (max-width: 47.99875em) {
    .header {
        padding: 0.875rem 1rem;
    }
}